database MySQL do |db|
    db.host = "{{ gem_backup_mysql_db_host }}"
    db.port = {{ gem_backup_mysql_db_port }}
    db.username = "{{ gem_backup_mysql_username }}"
    db.password = "{{ gem_backup_mysql_password }}"
{% if gem_backup_mysql_db_name is defined %}
    db.name = "{{ gem_backup_mysql_db_name }}"
{% else %}
    db.name = :all
{% endif %}
{% if gem_backup_mysql_db_name is defined %}
    db.additional_options = ['--quick', '--single-transaction', '--routines']
{% else %}
    db.additional_options = ['--quick', '--single-transaction']
{% endif %}
end
