{% if gem_backup_encryptors %}
  ##
  # OpenSSL [Encryptor]
  #
  encrypt_with OpenSSL do |encryption|
{% if gem_backup_encryptors.password is defined %}
    encryption.password      = "{{ gem_backup_encryptors.password }}"
{% else %}
    encryption.password_file = "{{ gem_backup_encryptors.password_file }}"
{% endif %}
    encryption.base64        = true
    encryption.salt          = true
    # to decrypt, use the following command:
    # openssl aes-256-cbc -d -base64 -in my_backup.tar.enc -out my_backup.tar
  end
{% endif %}
