notify_by Zabbix do |zabbix|
    zabbix.on_success = {{ gem_backup_notify_zabbix_on_success|lower }}
    zabbix.on_warning = {{ gem_backup_notify_zabbix_on_warning|lower }}
    zabbix.on_failure = {{ gem_backup_notify_zabbix_on_failure|lower }}

    zabbix.zabbix_host = "{{ gem_backup_notify_zabbix_hostname }}"
    zabbix.zabbix_port = {{ gem_backup_notify_zabbix_port|default(10051) }}
    zabbix.service_name = "{{ gem_backup_notify_zabbix_service_name|default('') }}"
    zabbix.service_host = "{{ gem_backup_notify_zabbix_service_host }}"
    zabbix.item_key = "{{ gem_backup_notify_zabbix_item_key }}"
end
