store_with FTP do |server|
    server.ip = "{{ gem_backup_ftp_host }}"
    server.port = {{ gem_backup_ftp_port }}
    server.passive_mode = {{ gem_backup_ftp_passive_mode|lower }}
    server.path = {{ gem_backup_ftp_path }}
    server.keep = {{ gem_backup_ftp_keep }}
    server.timeout = {{ gem_backup_ftp_timeout }}
    server.username = "{{ gem_backup_ftp_username }}"
    server.password = "{{ gem_backup_ftp_password }}"
end
